@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

div.container {
  padding: 30px;
  position: relative;
  overflow: hidden;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  img.spiral {
    position: absolute;
    top: 150px;
    left: -197px;
    @include breakpoint(tablet) {
      top: 69px;
    }
    @include breakpoint(desktop) {
      top: 69px;
      left: -50px;
    }
  }
  @include breakpoint(tablet) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-image: url("/img/img-adam.png");
    background-position: top right;
    background-size: 340px;
    background-repeat: no-repeat;
  }
  @include breakpoint(desktop) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 170px;
    background-position: top right 140px;
    background-size: 340px;
    background-repeat: no-repeat;
  }
}
