@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

div.container {
  padding: 30px;
  position: relative;
  img.spiral {
    position: absolute;
    top: 150px;
    left: -197px;
  }
}
