@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.footer {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 20px;
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__logo img {
    width: 130px;
  }
  &__icons {
    display: flex;
    gap: 26px;
  }
}
