@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;

  &::after {
    content: "";
    position: absolute;
    top: 83px;
    right: -104px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 0;
    opacity: 0.5;
  }

  &__image {
    margin-bottom: 40px;
    position: relative;
  }
  &__title,
  &__title span {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.136px;
    text-align: center;
    color: $white;
    margin-bottom: 24px;
    span {
      text-decoration: underline;
      text-decoration-color: $green;
      text-underline-offset: 8px;
    }
  }
  &__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
  }
  &__button a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.28px;
  }
}
