@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  @include breakpoint(tablet) {
    align-items: start;
    justify-content: start;
    width: 66%;
    margin-bottom: 72px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 83px;
    right: -104px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 0;
    opacity: 0.5;
    @include breakpoint(tablet) {
      top: 290px;
      right: -330px;
      border: 3px solid white;
      width: 125px;
      height: 125px;
    }
  }

  &__image {
    margin-bottom: 40px;
    position: relative;
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__title,
  &__title span {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.136px;
    text-align: center;
    color: $white;
    margin-bottom: 24px;
    @include breakpoint(tablet) {
      text-align: start;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: 2.04px;
      margin-bottom: 66px;
    }
    span {
      text-decoration: underline;
      text-decoration-color: $green;
      text-underline-offset: 8px;
      @include breakpoint(tablet) {
        text-underline-offset: 14px;
      }
    }
  }
  &__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
    color: $grey;
    @include breakpoint(tablet) {
      text-align: start;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 32px;
    }
  }
  &__button a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.28px;
    text-align: center;
    @include breakpoint(tablet) {
      text-align: start;
      font-size: 18px;
    }
  }
}
