@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.projects {
  margin-top: 80px;
  margin-bottom: 92px;
  position: relative;
  @include breakpoint(tablet) {
    margin-bottom: 172px;
  }
  img.spiral-projects {
    position: absolute;
    right: -120px;
    top: -150px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include breakpoint(tablet) {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 40px;
      font-weight: 700;
      @include breakpoint(tablet) {
        font-size: 72px;
      }
    }
    .button {
      @include breakpoint(tablet) {
        font-size: 18px;
      }
    }
  }
  &__article {
    margin-bottom: 52px;

    &__img {
      max-width: 100%;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__tecnologies {
      display: flex;
      gap: 18px;
      margin-bottom: 20px;
      p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &__buttons {
      display: flex;
      gap: 32px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
